### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

### Gradle ###
# Config files directory
.gradle

# Build files directory
build/

# Gradle wrapper files directory
!gradle/wrapper/gradle-wrapper.jar

### Intellij Idea ###
# Config files
.idea
